<div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
  <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
    <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
      <div class="lg:pr-4">
        <div class="lg:max-w-lg">
          <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Aplicação de Conversão de Notas Fiscais XML</h1>
        </div>
      </div>
    </div>
    <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
      <div class="lg:pr-4">
        <div class="max-w-xl text-base leading-7 text-gray-700 lg:max-w-lg">
          <p>Nossa solução de conversão de Notas Fiscais Eletrônicas (NF-e) em XML foi projetada para otimizar o processamento de documentos fiscais, garantindo rapidez, precisão e conformidade com as regulamentações fiscais brasileiras.</p>
          <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">Funcionalidades Principais</h2>
          <ul role="list" class="mt-8 space-y-8 text-gray-600">
            <li class="flex gap-x-3">
              <span><strong class="font-semibold text-gray-900">Conversão Rápida e Segura.</strong> Transforme
                arquivos XML de NF-e em formatos acessíveis e de fácil manipulação, como XLS.</span>
            </li>
            <li class="flex gap-x-3">
              <span><strong class="font-semibold text-gray-900">Automação de Processos.</strong> Reduza o tempo gasto com tarefas manuais, automatizando a extração de dados e a geração de relatórios detalhados sobre as transações fiscais.</span>
            </li>
            <li class="flex gap-x-3">

              <span><strong class="font-semibold text-gray-900">Database backups.</strong> Ac tincidunt sapien vehicula erat auctor pellentesque rhoncus. Et magna sit morbi lobortis.</span>
            </li>
          </ul>

          <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">Benefícios:</h2>
          <ul role="list" class="mt-8 space-y-8 text-gray-600">
            <li class="flex gap-x-3">
              <span><strong class="font-semibold text-gray-900">Eficiência Operacional.</strong> Acelere o fluxo de trabalho relacionado ao processamento de notas fiscais, permitindo que sua equipe se concentre em tarefas mais estratégicas.</span>
            </li>
            <li class="flex gap-x-3">
              <span><strong class="font-semibold text-gray-900">Flexibilidade e Customização.</strong> Adapte a aplicação às necessidades específicas do seu negócio, com opções de personalização de relatórios e exportação de dados.</span>
            </li>
            <li class="flex gap-x-3">
              <span><strong class="font-semibold text-gray-900">Acesso Simplificado.</strong> Acesse as notas fiscais processadas de qualquer lugar, a qualquer momento, através de uma interface web amigável e responsiva.</span>
            </li>
          </ul>
          <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">Caso de Uso:</h2>
          <p class="mt-6">Ideal para empresas de todos os portes que lidam com grandes volumes de notas fiscais eletrônicas e buscam uma solução para simplificar a gestão fiscal, melhorar a conformidade e aumentar a eficiência operacional.</p>
        </div>
      </div>
    </div>
  </div>
  <h1 class="font-bold text-4xl"></h1>
  <p></p>
</div>
